@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
        font-size: 62.5%;
    }
    html{
        width: 100vw;
        overflow-x: hidden;
    }
    :root {
    --header: 3rem;
    --font-card: 3rem; 
    --footer-paginator:4rem;
    }

.container{
    transition: all 0.8s ease-in;
}

@media (min-width: 1089px) {
    :root {
        --header: 3rem;
        --font-card: 2.2rem; 
        --footer-paginator:4rem;
        }
}