@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

*{
        margin:0;
        padding:0;
        box-sizing: border-box;
        font-size: 62.5%;
}
html{
        width: 100vw;
        overflow-x: hidden;
}
:root {
    --header: 3rem;
    --font-card: 3rem; 
    --font-info:4.5rem;
    --font-chapter-container:3rem;
    --footer-paginator:4rem;
    }

header{
    margin-bottom: 3rem;
}

body{
    background-image: url("https://i.pinimg.com/originals/0a/eb/52/0aeb52af3cb13c91c0aead5aba52480f.jpg");
        background-position:center;
        background-repeat: no-repeat;
        background-size:cover;
        background-attachment: fixed;
        height: 100vh;
        width: 100vw;
}
    .container{
    transition: all 0.8s ease-in;
}

@media (min-width: 1089px) {
    :root {
        --header: 3rem;
        --font-card: 2.2rem; 
        --font-info:4.5rem;
        --font-chapter-container:3rem;
        --footer-paginator:4rem;
        }
}